<nav class="nav flex-column gap-1 app-nav">
  <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">🏠 Home</NavLink>
  <NavLink class="nav-link" href="/users">🧑‍🤝‍🧑 Users</NavLink>
  <NavLink class="nav-link" href="/posts">📰 Posts</NavLink>
  <NavLink class="nav-link" href="/comments">💬 Comments</NavLink>
  <NavLink class="nav-link" href="/about">ℹ️ About Us</NavLink>
</nav>
